<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"><!-- Required meta tags -->

{% extends "base.html" %}


{% block content %}


<div class="container-fluid">
  {% for x in writings %}
  <div class="row">
    <div class="col">
        <h4> {{ x.title }}</h4>
        <p>{{ x.thought }}</p>

        <br><br>
        <p style="line-height: 0px;">{{x.description}}</p>
        <hr>
    </div>


    </div>
    {% endfor %}

  </div>


</div>



{% endblock %}